* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  display: flex;
  background: #060AB2;
}

.memory-card__item {
  display: flex;
  flex-wrap: wrap;
  width: 640px;
  height: 640px;


  perspective: 800px;
}



.memory-game {
  margin: 50px auto;
}

.memory-card {
  display: block;
  width: calc(25% - 10px);
  height: calc(26.333% - 10px);
  margin: 5px;
  position: relative;
  transform: scale(1);
  transform-style: preserve-3d;
  transition: transform .5s;
  box-shadow: 1px 1px 1px rgba(0,0,0,.3);
}

.memory-card:active {
  transform: scale(0.97);
  transition: transform .2s;
}

.memory-card.flip {
  transform: rotateY(180deg);
}

.front-face,
.back-face {
  width: 100%;
  height: 100%;
  padding: 20px;
  position: absolute;
  border-radius: 5px;
  background: #0d497a;
  backface-visibility: hidden;
}

.front-face {
  transform: rotateY(180deg);
}


.memory-card__title {
  margin-top: 50px;
  text-align: center;

  font-size: 24px;
  font-weight: 600;

  color: #d6ba31;
}

.memory-input {
  display: none;
}

.memory-input__p {
  margin-bottom: 20px;

  font-size: 24px;
  font-weight: 600;

  color: #d6ba31;
}

.memory-input__input {
  margin-left: 20px;
  padding: 10px;
  width: 50px;
  height: 30px;
  border-radius: 10px;
  border: 0;
}

.memory-input__btn {

  margin-left: 10px;

  width: 50px;
  height: 30px;

  font-size: 16px;
  font-weight: 700;
  color: #333;

  border: 0;
  border-radius: 10px;
  background-color: #fff;

  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

.memory-input__btn:hover {
  color: #fff;
  background-color: #d6ba31;
}

.memory-btn {
  display: flex;
  justify-content: center;
}

.memory-btn__reset {
  display: none;
  margin-top: 50px;
  width: 100px;
  height: 38px;
}